<div id="body">
  <div class="bio">
    <img src="/assets/images/bio-pic.jpg" alt="Catie">
    <p>i knit, sew, quilt, crochet, bake, and sometimes embroider. you can see it all right here at cricket and bea.</p>
  </div>

  <div class="posts">
    <h2>Recent Posts</h2>
    <hr></hr>
    <div ng-repeat="post in main.posts">
      <div class="post-container">
        <a classs="post-link" href="#/posts/{{ $index }}">
          <div class="post-pic-container">
            <img class="post-pic" ng-src="{{ post.coverImage }}">
          </div>
          <div class="post-title-container">
            <h3>
              {{ post.title }}
            </h3>
            <h3><small>{{ post.publishedDate | date:'EEEE, MMMM d, yyyy' }}</small></h3>
          </div>
        </a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
