<div class="post-title">
  <h2>{{ postCtrl.post.title }}</h2>
  <h3>{{ postCtrl.post.publishedDate | date:'EEEE, MMMM d, yyyy' }}</h3>

</div>
<div class="post-body">
  <div ng-bind-html="postCtrl.post.body | unsafe"></div>
  <div class="comments">
    <h2>Comments</h2>

    <div ng-repeat="comment in postCtrl.post.comments">
      <div class='comment-content'>
        {{ comment.body}}
        <div class='comment-user'>
          {{ comment.user}}
        </div>
      </div>
    </div>
    <div class="comment-form">
      <form class="commment-form" id="comment-form">
        <textarea class="text-area" id="comment-text-area" rows="4" cols="50" ng-model="body"></textarea>
        <button class="submit-commit" ng-click="postCtrl.addComment()">Submit Comment</button>
      </form>
    </div>
  </div>
</div>
