<div class="inventory">
  <div ng-repeat="item in store.inventory">
    <div class="item-container">
      <img class="item-picture" ng-src="{{ item.location }}" alt="{{ item.caption }}">
      <span class="item-desc">
        <h2>
          {{ item.caption }}
          <small>
            {{ item.price }}
          </small>
          <img class="shopping-cart" src="/assets/images/icons/cart-icon.png" alt="add-to-cart" title="Add to cart">
        </h2>
        <p>
          {{ item.description }}
        </p>
      </span>
    </div>  </div>
</div>
