<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% unless @password_form_error %>
        <h1 class="text-muted">Update <%= @user.name %></h1>
        <%= render 'users/form' %>
      <% end %>
    </div>
  </div>
</div>
