<center>
  <div id="welcome-carsol" class="owl-carousel owl-theme">

    <div class="item">
      <%= image_tag('car1.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('car2.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('car3.jpg') %>
    </div>
   </div>
</center>

<script>
  $(document).ready(function() {
    $("#welcome-carsol").owlCarousel({
      navigation : true,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
    });
  });
</script>
