<center>
  <div id="welcome-carsol" class="owl-carousel owl-theme">

    <div class="item">
      <img src="<%= asset_path 'car-1.jpeg' %>" alt="The Last of us">
    </div>
    <div class="item">
      <img src="<%= asset_path 'car-2.jpeg' %>" alt="The Last of us">
    </div>
    <div class="item">
      <img src="<%= asset_path 'car-3.jpeg' %>" alt="The Last of us">
    </div>
    <div class="item">
      <img src="<%= asset_path 'car-4.jpeg' %>" alt="The Last of us">
    </div>
  </div>
</center>

<script>
  $(document).ready(function() {
    $("#welcome-carsol").owlCarousel({
      navigation : true,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
    });
  });
</script>
