<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-muted">Add Billing Information.</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
