<div class="row well-white">
  <div class="col-sm-10">
    <h1 class="center-my-children"><%= @item.store.name %> </h1>
    <div class="container">
      <h2 class="text-muted">Edit <%= @item.name %></h1>
      <%= render 'items/form' %>
    </div>
  </div>
  <%= render partial: 'stores/side_bar', locals: { store: @item.store } %>
</div>
