<div class="row well-white">
  <div class="col-sm-10">
    <h1 class="center-my-children"><%= @store.name %> </h1>
    <div class="container">
      <h2 class="text-muted">New Item</h1>
      <%= render 'items/form' %>
    </div>
  </div>
  <%= render 'stores/side_bar' %>
</div>
