// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome-carsol .item img{
  display: block;
  width: 75%;
  height: auto;
  border-radius: 20px;
}
