<footer class="site-footer">
  <span><%= link_to "About", about_path %></span>
  <span><%= link_to "Blog", blog_path %></span>
  <span><%= link_to "Contact", contact_path %></span>
  <span>© 2015 VGEW</span>
</footer>
